body{
    margin: 0;
    padding: 0;
}
header{
display: flex;
flex-direction: row-reverse;
height: 50px;

}
.menu{
    display: flex;
}
.pontinhos{
    margin: 2px;
    background-color: black;
    height: 4px;
    width: 15px;
    
}
.menu button{
    margin-top: 10px;
    margin-right: 15px;
    height: 30px;
    width: 100px;
    background-color: #1a73e8;
    color: white;
    border: 0;
    border-radius: 6px;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
}
ul a{
    text-decoration: none;
}
img{
    margin-left: 3px;
}
.corpo input{
    border: 0;
}
.corpo{
    display: flex; 
    flex-direction: column;   
    align-items: center;
}
.logo{
    margin-top: 30px;
}

form{
    margin-top: 30px;
    display: block;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    height: 40px;
    width: 550px;
}
form:hover{
    box-shadow: 2px 2px 1px #dfe1e5;
}
.botoes{
    margin-top: 20px;
    margin-bottom: 230px;
}
.botoes a {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: black;
    font-family: Helvetica, sans-serif;
    border: 0;
    border-radius: 2px;
    background-color: #f8f9fa;
}
.botoes a:hover {
    border: 1px solid #dfe1e5;
}

footer .pais {
    background-color: #dfe1e5;
    border-bottom: 1px solid #7075a3;
    
}
.pais h2 {
    padding: 10px;
    margin: 5px;
    color: #7075a3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 30px;
    font-style: normal;
    
}
.final{
    display: flex;
    justify-content: space-between;
    background-color: #dfe1e5;
 }
.final ul{
    display: flex;
    list-style: none;
    }
.final li{
    margin-right: 10px;
}
.final a{
    color: #7075a3;
}
.final a:hover {
    text-decoration: underline;
}