* {
    box-sizing:border-box;
}
body {
    margin:0px;
}
p{
    color:#0000ff;
    font: size 30px;
    font-weight: bold;
    font-family: Roboto;
    text-align: justify;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    
}